<.live_component
  module={SnippetSaverWeb.EmployeeLive.Components.EditComponent}
  id={"employee-edit-#{@employee.id}"}
  employee={@employee}
  patch_back={~p"/employees"}
  parent_pid={@parent_pid}
/>
